@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
:root {
  --Very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --Soft-red: hsl(14, 88%, 65%);

  /* #### Gradient */

  /* Background gradient: */

  --Soft-violet: hsl(273, 75%, 66%);
  --Soft-blue: hsl(240, 73%, 65%);

  /* ### Neutral */

  /* #### Text */

  --Very-dark-grayish-blue: hsl(237, 12%, 33%);
  --Dark-grayish-blue: hsl(240, 6%, 50%);

  /* #### Dividers */

  --Light-grayish-blue: hsl(240, 5%, 91%);
}
/* basic styles/resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  /* user-select: none; */
}
body {
  font-size: 12px;
  font-family: 'Kumbh Sans', sans-serif;
  background: var(--Soft-violet);
  color: var(--Very-dark-desaturated-blue);
}
/* align */
#container,
#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  position: relative;
}
#container {
  min-height: 100vh;
}
#content {
  width: 90%;
  min-width: 290px;
  max-width: 375px;
  margin: 8rem 0 5rem;
  border-radius: 20px;
  box-shadow: 0px 50px 40px -30px rgba(0,0,0,0.4);
  background: #fff;
}
/* image style */
/* set mult style */
.images img,
.images .woman-online *,
#images #bg * {
  position: absolute;
}
.images img,
.woman-online :nth-child(1),
#bg :first-child,
.answers .answer {
  display: none;
}
.woman-online :nth-child(2),
#bg :last-child {
  display: block;
  top: 0;
  left: 50%;
}
#images {
  width: 100%;
  height: 15vh;
}
#images .images {}
.images img {}
.images .woman-online {}
.woman-online :nth-child(1) {}
.woman-online :nth-child(2) {
  transform: translate(-55%, -55%);
}
#images #bg {}
#bg :first-child {}
#bg :last-child {
  transform: translate(-50%);
}
/* styles */
#FAQ {
  width: 80%;
  padding: 2rem 0;
}
#FAQ .title {
  font-size: 2.5em;
  font-weight: 700;
  text-align: center;
}
.faq-list {}
.faq-list .faq-item {}
.faq-item .questions {}
.questions .question {
  font-size: 1.2em;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}
.question:after {
  content: '';
  width: 10px;
  height: 10px;
  display: inline-block;
  transform: translateY(0.1rem);
  background: url('images/icon-arrow-down.svg') no-repeat center;
}
.question.active {
  font-weight: 700;
  color: var(--Very-dark-desaturated-blue);
}
.question.active:after {
  transform: rotate(180deg);
}
.question:active {
  color: var(--Soft-red);
}
.faq-list .answers {
  line-height: 1.15rem;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}
.answers .answer {
  font-size: 1.15em;
  color: var(--Dark-grayish-blue);
}
.answers .answer.active {
  padding-bottom: 1rem;
  display: block;
}
.answers .answer {}
@media screen and (min-width: 720px) {
  #content {
    overflow: hidden;
  }
  .images img,
  .woman-online :nth-child(1),
  #bg :first-child {
    display: block;
  }
  .woman-online :nth-child(2),
  #bg :last-child {
    display: none;
  }
  .question:hover {
    color: var(--Soft-red);
  }
}